body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 30px;
}

ol,
ul {
  padding-left: 30px;
}

.board {
  display: flex;
  text-align: center;
}

.board-column {
  display: flex;
  flex-direction: column-reverse;
  width: 68px;
}

.board-column:hover {
  background: rgb(170, 255, 191);
}

.status1 {
  margin-bottom: 10px;
  color: #ff0000;
}

.status2 {
  margin-bottom: 10px;
  color: #0000ff;
}

.square {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  /* margin-left: -1px;
  margin-bottom: -1px; */
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.circle1 {
  height: 40px;
  width: 40px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.circle2 {
  height: 40px;
  width: 40px;
  background-color: #0000ff;
  border-radius: 50%;
  display: inline-block;
}
